<div>
    <ul>
        <li><a href="/api/employees">(GET) /api/employees</a></li>
        <li><a href="/api/expenses">(GET) /api/expenses</a></li>
        <li><a href="/api/expenses/dates">(GET) /api/expenses/dates</a></li>
        <!--<li>-->
            <!--<form action="/api/employees" method="post" id="form_post_employees">-->
                <!--<a href="javascript:{}" onclick="document.getElementById('form_post_employees').submit(); return false;">(POST) /api/employees</a>-->
            <!--</form>-->
        <!--</li>-->
        <!--<li>-->
            <!--<form action="/api/expenses" method="post" id="form_post_expenses">-->
                <!--<a href="javascript:{}" onclick="document.getElementById('form_post_expenses').submit(); return false;">(POST) /api/expenses</a>-->
            <!--</form>-->
        <!--</li>-->
   </ul>
</div>