<h1>Expenses Upload</h1>
<div>
    <form method="POST" action="/api/file" enctype="multipart/form-data">
        <label>Expense File:</label>
        <input type="file" name="expenseFile">
        <!--<input type="hidden" name="hiddenField" value="1234">-->
        <input type="submit">
    </form>
</div>