<!DOCTYPE html>
<html>
<head>
    <title>Wave Challenge</title>
    <link rel="stylesheet" href="../styles/style.css" type="text/css">
</head>

<body>

<%- include partials/headerBreadcrumbs.ejs %>

<%- include('partials/employeesTable', employees); %>

</body>
</html>