<!DOCTYPE html>
<html>
<head>
    <title>Wave Challenge</title>
</head>
<body>
<h1>Expenses Upload</h1>
<form method="POST" action="/test" enctype="multipart/form-data">
    <label>test</label>
    <input type="file" name="expenseFile">
    <input type="hidden" name="hiddenField" value="1234">
    <input type="submit">
</form>
</body>
</html>