ul {
    list-style-type: none;
    padding: 0;
    display: table-cell;
}
tr.even:hover, tr.odd:hover {
    background-color: #FCB07E;  /* very light tangelo */
    cursor: default;
}
tr.even  {
    background-color: #E9E3E6; /* platinum */
    color: black;
}
tr.odd  {
    background-color: #D7C0D0; /* thistle */
    color: black;
}
tr>td>a>label {
    color: black;
    display: block;
    cursor: pointer;

}
tr>td>a {
    text-decoration: none;
}
