ul {
    list-style-type: none;
    padding: 0;
    display: table-cell;
}
tr.even:hover, tr.odd:hover {
    background-color: lightpink;
    cursor: pointer;
}
tr.even  {
    background-color: #CC9999;
    color: black;
}
tr.odd  {
    background-color: #9999CC;
    color: black;
}
tr>td>a {
    text-decoration: none;
    color: black;
}